/* css reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* common property */
body {
    color: black;
    font-size: 2em;
    font-weight: bolder;
}

/* general disposition flexbox */

main {
    display: inline-flex;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: palegoldenrod;
    height: 15vh;
    width: auto;
    flex-basis: 1;
}

nav {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: palegreen;
    height: 75vh;
    width: 10vw;
}

section {
    display: flex;
    flex-wrap: wrap;
    background-color: paleturquoise;
    width: 39.55vw;
    height: 75vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palevioletred;
    width: auto;
    height: 15vh;
    flex-basis: 1;
}

p {
    padding: 5px;
    height: 10%;
    text-decoration: underline;
}

header,
nav,
article,
footer {
    border: #333 solid 1px;
}

/* header disposition  */

header div {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    width: 40%;
}

header span {
    color: darkcyan;
    background-color: darkolivegreen;
    border: 1px solid darkolivegreen;
    border-radius: 5px;
    margin: auto 5px;
    padding: 5px 15px
}

header span:hover {
    color: darkolivegreen;
    border: 1px solid darkcyan;
    background-color: darkcyan;
}

/* footer disposition  */

footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 36px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    height: 35%;
    width: 30%;
}

footer span {
    background-color: blueviolet;
    font-size: 28px;
    padding: 5px 10px;
    margin: auto 5px;
    border-radius: 5px;
}

footer span:hover {
    background-color: darkorange;
    color: lightblue;
}

/* Nav disposition  */

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%;
    width: 75%;
}

nav div span {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 0, 43);
    color: rgb(249, 166, 78);
    border-radius: 10px;
    height: 10%;
    width: 75%;
    padding: 5px 8px;
}

nav div span:hover {
    background-color: rgb(157, 0, 115);

}

/* First article disposition  */


/* Second article disposition  */


/* Third article disposition  */


/* Four article disposition  */